@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@500;700&family=Open+Sans:wght@400&family=Poppins:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand",sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: "Quicksand",sans-serif;
}

h2 {
  font-family: "Quicksand",sans-serif;
}

h5 {
  font-family: "Quicksand",sans-serif;
  font-weight: 400;
}

.project-title {
  font-family: "Quicksand",sans-serif;
  font-weight: 700;
}

.project-description {
  font-family: "Quicksand",sans-serif;
  font-weight: 400;
}

button {
  font-family: "Quicksand",sans-serif;
  font-weight: bold;
}

a {
  font-family: "Quicksand",sans-serif;
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #ffd700;
  animation: typing 6s steps(40, end), pause 1.5s steps(40, end) 6s, erasing 6s steps(40, end) 5.5s, blink 0.75s step-end infinite;
  animation-iteration-count: infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes pause {
  from {
    width: 100%;
  }
  to {
    width: 100%;
  }
}

@keyframes erasing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffd700; /* Cursor color */
  }
}